In [2]:
import pandas as pd
import numpy as np

In [3]:
df_drinks=pd.read_csv('drinks.csv')

In [5]:
df_drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,NaN
1,Albania,89,132,54,NaN
2,Algeria,25,0,14,NaN
3,Andorra,245,138,312,NaN
4,Angola,217,57,45,NaN

In [6]:
df_drinks.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol'],
      dtype='object')

In [7]:
df_drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    object
 2   spirit_servings               193 non-null    object
 3   wine_servings                 193 non-null    object
 4   total_litres_of_pure_alcohol  0 non-null      float64
dtypes: float64(1), object(4)
memory usage: 7.7+ KB

In [8]:
type(df_drinks[['beer_servings','spirit_servings','wine_servings']])

pandas.core.frame.DataFrame

In [9]:
type('beer_servings')

str

In [10]:
type('spirit_servings')

str

In [11]:
type('wine_servings')

str

In [10]:
df_drinks["beer_servings"] = df_drinks["beer_servings"].astype('int')

ValueError: invalid literal for int() with base 10: '?'

In [12]:
[int(a) for a in df_drinks["beer_servings"] if a!='?']

[0,
 89,
 25,
 245,
 217,
 102,
 193,
 21,
 261,
 279,
 21,
 122,
 42,
 0,
 143,
 142,
 295,
 263,
 34,
 23,
 167,
 76,
 173,
 245,
 31,
 231,
 25,
 88,
 144,
 57,
 147,
 240,
 17,
 15,
 130,
 79,
 159,
 1,
 76,
 0,
 149,
 37,
 230,
 93,
 192,
 361,
 224,
 15,
 52,
 193,
 32,
 162,
 6,
 52,
 92,
 18,
 224,
 20,
 77,
 263,
 127,
 347,
 8,
 52,
 346,
 31,
 133,
 199,
 53,
 9,
 28,
 93,
 1,
 69,
 234,
 233,
 9,
 5,
 0,
 9,
 313,
 63,
 85,
 82,
 77,
 6,
 124,
 58,
 21,
 0,
 31,
 62,
 281,
 20,
 82,
 19,
 0,
 343,
 236,
 26,
 8,
 13,
 0,
 5,
 149,
 0,
 0,
 98,
 238,
 62,
 109,
 0,
 77,
 31,
 12,
 47,
 5,
 376,
 49,
 5,
 251,
 203,
 78,
 3,
 42,
 188,
 0,
 169,
 22,
 0,
 306,
 285,
 44,
 213,
 163,
 71,
 343,
 194,
 1,
 297,
 247,
 43,
 105,
 0,
 56,
 0,
 9,
 283,
 157,
 25,
 60,
 196,
 270,
 56,
 0,
 225,
 140,
 284,
 16,
 194,
 171,
 120,
 8,
 128,
 90,
 152,
 185,
 5,
 2,
 36,
 99,
 1,
 36,
 36,
 197,
 51,
 51,
 19,
 6,
 45,
 206,
 16,
 219,
 115,
 249,
 25,
 21,
 333,
 111,
 6,
 32,
 64]

In [13]:
df_drinks['beer_servings']=df_drinks["beer_servings"].replace('?',0)

In [14]:
df_drinks["beer_servings"] = df_drinks["beer_servings"].astype(int)

In [15]:
pd.set_option('display.max_rows',500)

In [16]:
df_drinks['spirit_servings']=df_drinks["spirit_servings"].replace('?',0)

In [17]:
df_drinks["spirit_servings"] = df_drinks["spirit_servings"].astype(int)

In [18]:
df_drinks['spirit_servings'].value_counts()

0      24
1       9
3       8
2       7
100     4
18      4
35      4
6       3
69      3
4       3
114     3
97      2
31      2
63      2
104     2
76      2
87      2
118     2
122     2
133     2
42      2
41      2
71      2
98      2
326     2
21      2
11      2
5       2
117     2
15      2
215     2
25      2
173     2
16      2
22      2
61      1
13      1
12      1
65      1
9       1
7       1
67      1
68      1
60      1
286     1
315     1
19      1
29      1
57      1
56      1
55      1
51      1
50      1
46      1
44      1
39      1
27      1
293     1
34      1
38      1
254     1
72      1
192     1
158     1
160     1
170     1
176     1
178     1
179     1
438     1
186     1
189     1
194     1
156     1
200     1
202     1
205     1
216     1
221     1
226     1
237     1
244     1
246     1
157     1
154     1
74      1
128     1
75      1
79      1
252     1
88      1
101     1
112     1
373     1
124     1
126     1
302     1
152     1
132     1
135     1
137     1
138     1
131     1
145     1
147     1
258     1
151     1
84      1
Name: spirit_servings, dtype: int64

In [19]:
df_drinks['wine_servings']=df_drinks["wine_servings"].replace('?',0)

In [20]:
df_drinks["wine_servings"] = df_drinks["wine_servings"].astype(int)

In [21]:
df_drinks['wine_servings'].value_counts()

0      32
1      25
7       9
2       9
8       7
5       6
9       6
4       5
11      5
3       4
16      4
18      4
45      3
59      2
10      2
21      2
32      2
56      2
74      2
175     2
212     2
271     1
31      1
28      1
26      1
24      1
23      1
278     1
20      1
276     1
19      1
185     1
186     1
14      1
36      1
13      1
12      1
190     1
191     1
195     1
218     1
6       1
220     1
221     1
233     1
237     1
280     1
35      1
165     1
149     1
172     1
140     1
134     1
129     1
128     1
127     1
123     1
120     1
116     1
370     1
113     1
112     1
100     1
97      1
94      1
86      1
84      1
339     1
81      1
78      1
254     1
73      1
71      1
62      1
167     1
312     1
54      1
51      1
42      1
Name: wine_servings, dtype: int64

In [22]:
df_drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int32
 2   spirit_servings               193 non-null    int32
 3   wine_servings                 193 non-null    int32
 4   total_litres_of_pure_alcohol  0 non-null      float64
dtypes: float64(1), int32(3), object(1)
memory usage: 5.4+ KB

In [23]:
df_drinks['beer_ABV']=.05

In [24]:
df_drinks['spirit_ABV']=.4

In [25]:
df_drinks['wine_ABV']=.12

In [26]:
df_drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,beer_ABV,spirit_ABV,wine_ABV
0,Afghanistan,0,0,0,NaN,0.05,0.4,0.12
1,Albania,89,132,54,NaN,0.05,0.4,0.12
2,Algeria,25,0,14,NaN,0.05,0.4,0.12
3,Andorra,245,138,312,NaN,0.05,0.4,0.12
4,Angola,217,57,45,NaN,0.05,0.4,0.12

In [27]:
pd.set_option('display.max_columns',500)

In [28]:
df_drinks['beer_volume_per_serving_ltr'] = .35
df_drinks['spirit_volume_per_serving_ltr'] = .04
df_drinks['wine_volume_per_serving_ltr'] = .15

In [29]:
df_drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,beer_ABV,spirit_ABV,wine_ABV,beer_volume_per_serving_ltr,spirit_volume_per_serving_ltr,wine_volume_per_serving_ltr
0,Afghanistan,0,0,0,NaN,0.05,0.4,0.12,0.35,0.04,0.15
1,Albania,89,132,54,NaN,0.05,0.4,0.12,0.35,0.04,0.15
2,Algeria,25,0,14,NaN,0.05,0.4,0.12,0.35,0.04,0.15
3,Andorra,245,138,312,NaN,0.05,0.4,0.12,0.35,0.04,0.15
4,Angola,217,57,45,NaN,0.05,0.4,0.12,0.35,0.04,0.15

In [30]:
df_drinks['total_litres_of_pure_alcohol'] = (df_drinks['beer_servings'] * df_drinks['beer_ABV'] * df_drinks['beer_volume_per_serving_ltr']) + (df_drinks['spirit_servings'] * df_drinks['spirit_ABV'] * df_drinks['spirit_volume_per_serving_ltr']) + (df_drinks['wine_servings'] * df_drinks['wine_ABV'] * df_drinks['wine_volume_per_serving_ltr'])

In [31]:
df_drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,beer_ABV,spirit_ABV,wine_ABV,beer_volume_per_serving_ltr,spirit_volume_per_serving_ltr,wine_volume_per_serving_ltr
0,Afghanistan,0,0,0,0.0000,0.05,0.4,0.12,0.35,0.04,0.15
1,Albania,89,132,54,4.6415,0.05,0.4,0.12,0.35,0.04,0.15
2,Algeria,25,0,14,0.6895,0.05,0.4,0.12,0.35,0.04,0.15
3,Andorra,245,138,312,12.1115,0.05,0.4,0.12,0.35,0.04,0.15
4,Angola,217,57,45,5.5195,0.05,0.4,0.12,0.35,0.04,0.15

In [32]:
df_lifeexpect=pd.read_csv("lifeexpectancy.csv")
df_lifeexpect.head()
df_lifeexpect.tail()

,GhoCode,GhoDisplay,PublishStateCode,PublishStateDisplay,YearCode,YearDisplay,RegionCode,RegionDisplay,WorldBankIncomeGroupGroupCode,WorldBankIncomeGroupDisplay,CountryCode,CountryDisplay,SexCode,SexDisplay,DisplayValue,Numeric
6403,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,2000,2000,AFR,Africa,WB_LI,Low_income,ZWE,Zimbabwe,FMLE,Female,16,16.0
6404,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,2000,2000,AFR,Africa,WB_LI,Low_income,ZWE,Zimbabwe,MLE,Male,15,15.0
6405,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,1990,1990,AFR,Africa,WB_LI,Low_income,ZWE,Zimbabwe,BTSX,Both sexes,18,18.0
6406,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,1990,1990,AFR,Africa,WB_LI,Low_income,ZWE,Zimbabwe,FMLE,Female,18,18.0
6407,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,1990,1990,AFR,Africa,WB_LI,Low_income,ZWE,Zimbabwe,MLE,Male,17,17.0

In [33]:
df_lifeexpect.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6408 entries, 0 to 6407
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   GhoCode                        6408 non-null   object
 1   GhoDisplay                     6408 non-null   object
 2   PublishStateCode               6408 non-null   object
 3   PublishStateDisplay            6408 non-null   object
 4   YearCode                       6408 non-null   int64
 5   YearDisplay                    6408 non-null   int64
 6   RegionCode                     6408 non-null   object
 7   RegionDisplay                  6408 non-null   object
 8   WorldBankIncomeGroupGroupCode  5244 non-null   object
 9   WorldBankIncomeGroupDisplay    5244 non-null   object
 10  CountryCode                    6408 non-null   object
 11  CountryDisplay                 6408 non-null   object
 12  SexCode                        6408 non-null   object
 13  SexDisplay                     6408 non-null   object
 14  DisplayValue                   6408 non-null   int64
 15  Numeric                        6408 non-null   float64
dtypes: float64(1), int64(3), object(12)
memory usage: 801.1+ KB

In [34]:
df_combined=pd.merge(left=df_drinks, right=df_lifeexpect, how='left', left_on='country', right_on='CountryDisplay')
df_combined.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,beer_ABV,spirit_ABV,wine_ABV,beer_volume_per_serving_ltr,spirit_volume_per_serving_ltr,wine_volume_per_serving_ltr,GhoCode,GhoDisplay,PublishStateCode,PublishStateDisplay,YearCode,YearDisplay,RegionCode,RegionDisplay,WorldBankIncomeGroupGroupCode,WorldBankIncomeGroupDisplay,CountryCode,CountryDisplay,SexCode,SexDisplay,DisplayValue,Numeric
0,Afghanistan,0,0,0,0.0,0.05,0.4,0.12,0.35,0.04,0.15,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2013.0,2013.0,EMR,Eastern Mediterranean,NaN,NaN,AFG,Afghanistan,BTSX,Both sexes,61.0,61.25205
1,Afghanistan,0,0,0,0.0,0.05,0.4,0.12,0.35,0.04,0.15,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2013.0,2013.0,EMR,Eastern Mediterranean,NaN,NaN,AFG,Afghanistan,FMLE,Female,62.0,61.97733
2,Afghanistan,0,0,0,0.0,0.05,0.4,0.12,0.35,0.04,0.15,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2013.0,2013.0,EMR,Eastern Mediterranean,NaN,NaN,AFG,Afghanistan,MLE,Male,61.0,60.51228
3,Afghanistan,0,0,0,0.0,0.05,0.4,0.12,0.35,0.04,0.15,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2012.0,2012.0,EMR,Eastern Mediterranean,WB_LI,Low_income,AFG,Afghanistan,BTSX,Both sexes,60.0,60.00000
4,Afghanistan,0,0,0,0.0,0.05,0.4,0.12,0.35,0.04,0.15,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2012.0,2012.0,EMR,Eastern Mediterranean,WB_LI,Low_income,AFG,Afghanistan,FMLE,Female,61.0,61.00000

In [35]:
df_combined[['country','total_litres_of_pure_alcohol','DisplayValue','SexDisplay']].groupby(df_combined['country']).mean(['DisplayValue','total_litres_of_pure_alcohol'])

                              total_litres_of_pure_alcohol  DisplayValue
country
Afghanistan                                         0.0000     39.121212
Albania                                             4.6415     50.060606
Algeria                                             0.6895     48.757576
Andorra                                            12.1115     57.363636
Angola                                              5.5195     34.393939
Antigua & Barbuda                                   4.6430           NaN
Argentina                                           7.7555     52.848485
Armenia                                             3.4295     48.575758
Australia                                           9.5355     57.515152
Austria                                             9.5205     55.909091
Azerbaijan                                          1.1935     48.000000
Bahamas                                             4.9510     51.606061
Bahrain                                             1.8690     52.121212
Bangladesh                                          0.0000     46.666667
Barbados                                            5.9185     53.575758
Belarus                                             9.2090     49.242424
Belgium                                            10.3225     55.727273
Belize                                              6.5705     51.151515
Benin                                               0.8930     39.333333
Bhutan                                              0.4025     44.636364
Bolivia                                             3.7225           NaN
Bosnia-Herzegovina                                  4.2420           NaN
Botswana                                            4.2175     41.484848
Brazil                                              6.8955     50.575758
Brunei                                              0.5925           NaN
Bulgaria                                            9.7665     50.787879
Burkina Faso                                        0.6755     38.030303
Burundi                                             1.5400     37.090909
Cabo Verde                                          3.7040     49.484848
Cambodia                                            2.0555     47.121212
Cameroon                                            2.6605     38.484848
Canada                                              7.9520     57.121212
Central African Republic                            0.3475     34.636364
Chad                                                0.2965     34.454545
Chile                                               7.3550     55.121212
China                                               4.5985     51.424242
Colombia                                            4.0525     53.727273
Comoros                                             0.0835     41.727273
Congo                                               1.5080     39.909091
Cook Islands                                        5.3960     50.939394
Costa Rica                                          4.1975     55.303030
Cote d'Ivoire                                       0.7895           NaN
Croatia                                             9.9890     52.939394
Cuba                                                3.9095     53.969697
Cyprus                                              7.8580     56.818182
Czech Republic                                     11.4495     53.121212
DR Congo                                            0.6260           NaN
Denmark                                             8.9240     55.060606
Djibouti                                            1.0205     41.303030
Dominica                                            5.9540     51.939394
Dominican Republic                                  5.8915     51.757576
Ecuador                                             4.0730     52.212121
Egypt                                               0.1870     47.909091
El Salvador                                         2.0500     50.030303
Equatorial Guinea                                   5.8040     37.181818
Eritrea                                             0.3150     38.636364
Estonia                                             8.0860     51.606061
Ethiopia                                            0.3980     40.545455
Fiji                                                1.9255     46.969697
Finland                                             8.4765     55.818182
France                                             11.2985     57.181818
Gabon                                               8.7025     43.303030
Gambia                                              0.1580     40.878788
Georgia                                             5.1920     51.030303
Germany                                            11.0770     55.969697
Ghana                                               0.7705     42.272727
Greece                                              8.0435     56.393939
Grenada                                            10.9945     50.333333
Guatemala                                           2.0675     48.787879
Guinea                                              0.1935     38.121212
Guinea-Bissau                                       1.3640           NaN
Guyana                                              6.4775     43.848485
Haiti                                               5.2515     41.000000
Honduras                                            2.8115     50.727273
Hungary                                            10.8650     50.666667
Iceland                                             6.4575     57.393939
India                                               1.9815     44.030303
Indonesia                                           0.1035     47.545455
Iran                                                0.0000           NaN
Iraq                                                0.2055     48.636364
Ireland                                            10.3355     55.515152
Israel                                              2.3685     56.878788
Italy                                               6.4255     57.424242
Jamaica                                             3.1490     51.212121
Japan                                               4.8675     59.060606
Jordan                                              0.4590     50.303030
Kazakhstan                                          6.3220     45.727273
Kenya                                               1.4030     41.333333
Kiribati                                            0.9295     44.787879
Kuwait                                              0.0000     53.060606
Kyrgyzstan                                          2.2025     47.090909
Laos                                                3.2990           NaN
Latvia                                              9.4895     50.303030
Lebanon                                             1.7880     53.424242
Lesotho                                             1.8990     36.484848
Liberia                                             2.8005     38.636364
Libya                                               0.0000     50.424242
Lithuania                                          10.9145     51.151515
Luxembourg                                         11.1360     56.424242
Macedonia                                           1.9800           NaN
Madagascar                                          0.7670     41.909091
Malawi                                              0.3340     37.242424
Malaysia                                            0.2915     50.303030
Maldives                                            0.0000     49.454545
Mali                                                0.1215     36.818182
Malta                                               6.3675     55.757576
Marshall Islands                                    0.0000     46.818182
Mauritania                                          0.0000     42.454545
Mauritius                                           2.5350     50.666667
Mexico                                              5.3430     52.969697
Micronesia                                          2.2090           NaN
Moldova                                             5.8475           NaN
Monaco                                              0.0000     57.545455
Mongolia                                            4.5155     45.121212
Montenegro                                          4.6705     52.636364
Morocco                                             0.4860     47.636364
Mozambique                                          1.2005     35.606061
Myanmar                                             0.1035     44.181818
Namibia                                             6.6460     44.363636
Nauru                                               1.0015     53.969697
Nepal                                               0.1835     44.454545
Netherlands                                         9.2205     56.151515
New Zealand                                         7.9665     56.727273
Nicaragua                                           3.2710     51.666667
Niger                                               0.1025     37.727273
Nigeria                                             0.8510     36.060606
Niue                                                6.6160     50.727273
North Korea                                         0.0000           NaN
Norway                                              6.4155     56.333333
Oman                                                0.6590     51.181818
Pakistan                                            0.0000     44.545455
Palau                                               6.7770     48.757576
Panama                                              6.9755     54.121212
Papua New Guinea                                    1.4120     41.212121
Paraguay                                            6.9315     52.303030
Peru                                                5.7905     52.636364
Philippines                                         4.2365     47.575758
Poland                                             10.4505     52.515152
Portugal                                           10.5690     55.515152
Qatar                                               0.8155     54.000000
Romania                                            10.1555     51.000000
Russian Federation                                 10.8525     47.090909
Rwanda                                              0.7845     40.090909
Samoa                                               2.5575     49.333333
San Marino                                          0.0000     58.303030
Sao Tome & Principe                                 4.1080           NaN
Saudi Arabia                                        0.0800     50.909091
Senegal                                             0.2995     42.333333
Serbia                                              9.3345     50.909091
Seychelles                                          4.0655     51.272727
Sierra Leone                                        0.5215     29.727273
Singapore                                           1.4400     57.696970
Slovakia                                           10.2060     51.878788
Slovenia                                           10.5090     54.575758
Solomon Islands                                     1.1740     45.909091
Somalia                                             0.0000     36.484848
South Africa                                        6.6115     41.545455
South Korea                                         2.8680           NaN
Spain                                               9.4980     57.484848
Sri Lanka                                           1.9440     50.787879
St. Kitts & Nevis                                   7.2510           NaN
St. Lucia                                           9.3105           NaN
St. Vincent & the Grenadines                        5.8340           NaN
Sudan                                               0.3480     42.030303
Suriname                                            5.2140     53.121212
Swaziland                                           1.6430     37.636364
Sweden                                              6.9680     57.000000
Switzerland                                         9.8775     57.575758
Syria                                               0.9355           NaN
Tajikistan                                          0.2750     46.303030
Tanzania                                            0.7440           NaN
Thailand                                            5.8785     51.090909
Timor-Leste                                         0.1055           NaN
Togo                                                1.0040     39.878788
Tonga                                               1.0560     48.696970
Trinidad & Tobago                                   6.0695           NaN
Tunisia                                             1.3005     51.939394
Turkey                                              1.3705     50.454545
Turkmenistan                                        2.0445     43.636364
Tuvalu                                              0.9230     45.090909
USA                                                 8.3975           NaN
Uganda                                              0.9315     37.181818
Ukraine                                             8.2070     48.666667
United Arab Emirates                                2.5300     52.030303
United Kingdom                                      9.3585           NaN
Uruguay                                             6.5325     53.303030
Uzbekistan                                          2.1975     47.181818
Vanuatu                                             0.8535     48.303030
Venezuela                                           7.4815           NaN
Vietnam                                             1.9925           NaN
Yemen                                               0.1050     42.757576
Zambia                                              0.9360     36.242424
Zimbabwe                                            1.4800     38.696970

In [37]:
df_combined.groupby(df_combined['country']).mean(['DisplayValue','total_litres_of_pure_alcohol'])

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,beer_ABV,spirit_ABV,wine_ABV,beer_volume_per_serving_ltr,spirit_volume_per_serving_ltr,wine_volume_per_serving_ltr,YearCode,YearDisplay,DisplayValue,Numeric
country,,,,,,,,,,,,,,
Afghanistan,0,0,0,0.0000,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,39.121212,39.058115
Albania,89,132,54,4.6415,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,50.060606,49.981889
Algeria,25,0,14,0.6895,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,48.757576,48.752299
Andorra,245,138,312,12.1115,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,57.363636,57.340645
Angola,217,57,45,5.5195,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,34.393939,34.406301
Antigua & Barbuda,102,128,45,4.6430,0.05,0.4,0.12,0.35,0.04,0.15,NaN,NaN,NaN,NaN
Argentina,193,25,221,7.7555,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,52.848485,52.810770
Armenia,21,179,11,3.4295,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,48.575758,48.622159
Australia,261,72,212,9.5355,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,57.515152,57.498049
Austria,279,75,191,9.5205,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,55.909091,55.927548
Azerbaijan,21,46,5,1.1935,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,48.000000,48.015653
Bahamas,122,176,0,4.9510,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,51.606061,51.584863
Bahrain,42,63,7,1.8690,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,52.121212,52.108188
Bangladesh,0,0,0,0.0000,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,46.666667,46.657138
Barbados,143,173,36,5.9185,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,53.575758,53.620443
Belarus,142,373,42,9.2090,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,49.242424,49.233885
Belgium,295,84,212,10.3225,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,55.727273,55.739365
Belize,263,114,8,6.5705,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,51.151515,51.147712
Benin,34,4,13,0.8930,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,39.333333,39.351814
Bhutan,23,0,0,0.4025,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,44.636364,44.660212
Bolivia,167,41,8,3.7225,0.05,0.4,0.12,0.35,0.04,0.15,NaN,NaN,NaN,NaN
Bosnia-Herzegovina,76,173,8,4.2420,0.05,0.4,0.12,0.35,0.04,0.15,NaN,NaN,NaN,NaN
Botswana,173,35,35,4.2175,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,41.484848,41.522199
Brazil,245,145,16,6.8955,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,50.575758,50.549398
Brunei,31,2,1,0.5925,0.05,0.4,0.12,0.35,0.04,0.15,NaN,NaN,NaN,NaN
Bulgaria,231,252,94,9.7665,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,50.787879,50.835232
Burkina Faso,25,7,7,0.6755,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,38.030303,37.993208
Burundi,88,0,0,1.5400,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,37.090909,37.094585
Cabo Verde,144,56,16,3.7040,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,49.484848,49.506797
Cambodia,57,65,1,2.0555,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,47.121212,47.085661
Cameroon,147,1,4,2.6605,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,38.484848,38.404675
Canada,240,122,100,7.9520,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,57.121212,57.131743
Central African Republic,17,2,1,0.3475,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,34.636364,34.676439
Chad,15,1,1,0.2965,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,34.454545,34.433436
Chile,130,124,172,7.3550,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,55.121212,55.103594
China,79,192,8,4.5985,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,51.424242,51.456998
Colombia,159,76,3,4.0525,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,53.727273,53.773196
Comoros,1,3,1,0.0835,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,41.727273,41.694394
Congo,76,1,9,1.5080,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,39.909091,39.880087
Cook Islands,0,254,74,5.3960,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,50.939394,50.957610
Costa Rica,149,87,11,4.1975,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,55.303030,55.317660
Cote d'Ivoire,37,1,7,0.7895,0.05,0.4,0.12,0.35,0.04,0.15,NaN,NaN,NaN,NaN
Croatia,230,87,254,9.9890,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,52.939394,52.951408
Cuba,93,137,5,3.9095,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,53.969697,53.972749
Cyprus,192,154,113,7.8580,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,56.818182,56.827994
Czech Republic,361,170,134,11.4495,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,53.121212,53.121100
DR Congo,32,3,1,0.6260,0.05,0.4,0.12,0.35,0.04,0.15,NaN,NaN,NaN,NaN
Denmark,224,0,278,8.9240,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,55.060606,55.104134
Djibouti,15,44,3,1.0205,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,41.303030,41.315228
Dominica,52,286,26,5.9540,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,51.939394,52.001522
Dominican Republic,193,147,9,5.8915,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,51.757576,51.816510
Ecuador,162,74,3,4.0730,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,52.212121,52.143396
Egypt,6,4,1,0.1870,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,47.909091,47.881334
El Salvador,52,69,2,2.0500,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,50.030303,50.015247
Equatorial Guinea,92,0,233,5.8040,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,37.181818,37.201438
Eritrea,18,0,0,0.3150,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,38.636364,38.647280
Estonia,224,194,59,8.0860,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,51.606061,51.572270
Ethiopia,20,3,0,0.3980,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,40.545455,40.524087
Fiji,77,35,1,1.9255,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,46.969697,46.998051
Finland,263,133,97,8.4765,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,55.818182,55.815404
France,127,151,370,11.2985,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,57.181818,57.181085
Gabon,347,98,59,8.7025,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,43.303030,43.264861
Gambia,8,0,1,0.1580,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,40.878788,40.856894
Georgia,52,100,149,5.1920,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,51.030303,50.986607
Germany,346,117,175,11.0770,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,55.969697,55.954190
Ghana,31,3,10,0.7705,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,42.272727,42.253705
Greece,133,112,218,8.0435,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,56.393939,56.396570
Grenada,199,438,28,10.9945,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,50.333333,50.352022
Guatemala,53,69,2,2.0675,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,48.787879,48.854871
Guinea,9,0,2,0.1935,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,38.121212,38.174792
Guinea-Bissau,28,31,21,1.3640,0.05,0.4,0.12,0.35,0.04,0.15,NaN,NaN,NaN,NaN
Guyana,93,302,1,6.4775,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,43.848485,43.865873
Haiti,1,326,1,5.2515,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,41.000000,41.013358
Honduras,69,98,2,2.8115,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,50.727273,50.773159
Hungary,234,215,185,10.8650,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,50.666667,50.730205
Iceland,233,61,78,6.4575,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,57.393939,57.443452
India,9,114,0,1.9815,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,44.030303,44.051635
Indonesia,5,1,0,0.1035,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,47.545455,47.488302
Iran,0,0,0,0.0000,0.05,0.4,0.12,0.35,0.04,0.15,NaN,NaN,NaN,NaN
Iraq,9,3,0,0.2055,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,48.636364,48.664287
Ireland,313,118,165,10.3355,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,55.515152,55.519725
Israel,63,69,9,2.3685,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,56.878788,56.914048
Italy,85,42,237,6.4255,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,57.424242,57.498546
Jamaica,82,97,9,3.1490,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,51.212121,51.216013
Japan,77,202,16,4.8675,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,59.060606,59.119296
Jordan,6,21,1,0.4590,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,50.303030,50.277075
Kazakhstan,124,246,12,6.3220,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,45.727273,45.770073
Kenya,58,22,2,1.4030,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,41.333333,41.330245
Kiribati,21,34,1,0.9295,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,44.787879,44.806624
Kuwait,0,0,0,0.0000,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,53.060606,53.111170
Kyrgyzstan,31,97,6,2.2025,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,47.090909,47.057943
Laos,62,0,123,3.2990,0.05,0.4,0.12,0.35,0.04,0.15,NaN,NaN,NaN,NaN
Latvia,281,216,62,9.4895,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,50.303030,50.258646
Lebanon,20,55,31,1.7880,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,53.424242,53.390219
Lesotho,82,29,0,1.8990,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,36.484848,36.543228
Liberia,19,152,2,2.8005,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,38.636364,38.646460
Libya,0,0,0,0.0000,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,50.424242,50.477142
Lithuania,343,244,56,10.9145,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,51.151515,51.164694
Luxembourg,236,133,271,11.1360,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,56.424242,56.413932
Macedonia,0,27,86,1.9800,0.05,0.4,0.12,0.35,0.04,0.15,NaN,NaN,NaN,NaN
Madagascar,26,15,4,0.7670,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,41.909091,41.911362
Malawi,8,11,1,0.3340,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,37.242424,37.236935
Malaysia,13,4,0,0.2915,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,50.303030,50.312271
Maldives,0,0,0,0.0000,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,49.454545,49.426835
Mali,5,1,1,0.1215,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,36.818182,36.823100
Malta,149,100,120,6.3675,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,55.757576,55.738316
Marshall Islands,0,0,0,0.0000,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,46.818182,46.825033
Mauritania,0,0,0,0.0000,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,42.454545,42.429897
Mauritius,98,31,18,2.5350,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,50.666667,50.651767
Mexico,238,68,5,5.3430,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,52.969697,52.990651
Micronesia,62,50,18,2.2090,0.05,0.4,0.12,0.35,0.04,0.15,NaN,NaN,NaN,NaN
Moldova,109,226,18,5.8475,0.05,0.4,0.12,0.35,0.04,0.15,NaN,NaN,NaN,NaN
Monaco,0,0,0,0.0000,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,57.545455,57.570995
Mongolia,77,189,8,4.5155,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,45.121212,45.141145
Montenegro,31,114,128,4.6705,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,52.636364,52.631039
Morocco,12,6,10,0.4860,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,47.636364,47.591554
Mozambique,47,18,5,1.2005,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,35.606061,35.632655
Myanmar,5,1,0,0.1035,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,44.181818,44.136496
Namibia,376,3,1,6.6460,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,44.363636,44.360302
Nauru,49,0,8,1.0015,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,53.969697,53.987875
Nepal,5,6,0,0.1835,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,44.454545,44.488003
Netherlands,251,88,190,9.2205,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,56.151515,56.259466
New Zealand,203,79,175,7.9665,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,56.727273,56.743100
Nicaragua,78,118,1,3.2710,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,51.666667,51.607982
Niger,3,2,1,0.1025,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,37.727273,37.732577
Nigeria,42,5,2,0.8510,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,36.060606,36.071809
Niue,188,200,7,6.6160,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,50.727273,50.648888
North Korea,0,0,0,0.0000,0.05,0.4,0.12,0.35,0.04,0.15,NaN,NaN,NaN,NaN
Norway,169,71,129,6.4155,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,56.333333,56.317964
Oman,22,16,1,0.6590,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,51.181818,51.215490
Pakistan,0,0,0,0.0000,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,44.545455,44.536202
Palau,306,63,23,6.7770,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,48.757576,48.736862
Panama,285,104,18,6.9755,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,54.121212,54.137604
Papua New Guinea,44,39,1,1.4120,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,41.212121,41.213380
Paraguay,213,117,74,6.9315,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,52.303030,52.225068
Peru,163,160,21,5.7905,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,52.636364,52.560713
Philippines,71,186,1,4.2365,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,47.575758,47.537827
Poland,343,215,56,10.4505,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,52.515152,52.496699
Portugal,194,67,339,10.5690,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,55.515152,55.525424
Qatar,1,42,7,0.8155,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,54.000000,54.041195
Romania,297,122,167,10.1555,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,51.000000,50.914794
Russian Federation,247,326,73,10.8525,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,47.090909,47.124207
Rwanda,43,2,0,0.7845,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,40.090909,40.077193
Samoa,105,18,24,2.5575,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,49.333333,49.344220
San Marino,0,0,0,0.0000,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,58.303030,58.274456
Sao Tome & Principe,56,38,140,4.1080,0.05,0.4,0.12,0.35,0.04,0.15,NaN,NaN,NaN,NaN
Saudi Arabia,0,5,0,0.0800,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,50.909091,50.923730
Senegal,9,1,7,0.2995,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,42.333333,42.383713
Serbia,283,131,127,9.3345,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,50.909091,50.950706
Seychelles,157,25,51,4.0655,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,51.272727,51.251305
Sierra Leone,25,3,2,0.5215,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,29.727273,29.734234
Singapore,60,12,11,1.4400,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,57.696970,57.704384
Slovakia,196,293,116,10.2060,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,51.878788,51.871388
Slovenia,270,51,276,10.5090,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,54.575758,54.641370
Solomon Islands,56,11,1,1.1740,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,45.909091,45.935905
Somalia,0,0,0,0.0000,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,36.484848,36.468134
South Africa,225,76,81,6.6115,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,41.545455,41.537935
South Korea,140,16,9,2.8680,0.05,0.4,0.12,0.35,0.04,0.15,NaN,NaN,NaN,NaN
Spain,284,157,112,9.4980,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,57.484848,57.464308
Sri Lanka,16,104,0,1.9440,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,50.787879,50.800062
St. Kitts & Nevis,194,205,32,7.2510,0.05,0.4,0.12,0.35,0.04,0.15,NaN,NaN,NaN,NaN
St. Lucia,171,315,71,9.3105,0.05,0.4,0.12,0.35,0.04,0.15,NaN,NaN,NaN,NaN
St. Vincent & the Grenadines,120,221,11,5.8340,0.05,0.4,0.12,0.35,0.04,0.15,NaN,NaN,NaN,NaN
Sudan,8,13,0,0.3480,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,42.030303,42.074911
Suriname,128,178,7,5.2140,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,53.121212,53.152135
Swaziland,90,2,2,1.6430,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,37.636364,37.609439
Sweden,152,60,186,6.9680,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,57.000000,56.952893
Switzerland,185,100,280,9.8775,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,57.575758,57.599095
Syria,5,35,16,0.9355,0.05,0.4,0.12,0.35,0.04,0.15,NaN,NaN,NaN,NaN
Tajikistan,2,15,0,0.2750,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,46.303030,46.277266
Tanzania,36,6,1,0.7440,0.05,0.4,0.12,0.35,0.04,0.15,NaN,NaN,NaN,NaN
Thailand,99,258,1,5.8785,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,51.090909,51.085412
Timor-Leste,1,1,4,0.1055,0.05,0.4,0.12,0.35,0.04,0.15,NaN,NaN,NaN,NaN
Togo,36,2,19,1.0040,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,39.878788,39.856427
Tonga,36,21,5,1.0560,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,48.696970,48.727961
Trinidad & Tobago,197,156,7,6.0695,0.05,0.4,0.12,0.35,0.04,0.15,NaN,NaN,NaN,NaN
Tunisia,51,3,20,1.3005,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,51.939394,51.913348
Turkey,51,22,7,1.3705,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,50.454545,50.464776
Turkmenistan,19,71,32,2.0445,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,43.636364,43.565894
Tuvalu,6,41,9,0.9230,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,45.090909,45.108712
USA,249,158,84,8.3975,0.05,0.4,0.12,0.35,0.04,0.15,NaN,NaN,NaN,NaN
Uganda,45,9,0,0.9315,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,37.181818,37.127493
Ukraine,206,237,45,8.2070,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,48.666667,48.631585
United Arab Emirates,16,135,5,2.5300,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,52.030303,52.020981
United Kingdom,219,126,195,9.3585,0.05,0.4,0.12,0.35,0.04,0.15,NaN,NaN,NaN,NaN
Uruguay,115,35,220,6.5325,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,53.303030,53.267159
Uzbekistan,25,101,8,2.1975,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,47.181818,47.166567
Vanuatu,21,18,11,0.8535,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,48.303030,48.368256
Venezuela,333,100,3,7.4815,0.05,0.4,0.12,0.35,0.04,0.15,NaN,NaN,NaN,NaN
Vietnam,111,2,1,1.9925,0.05,0.4,0.12,0.35,0.04,0.15,NaN,NaN,NaN,NaN
Yemen,6,0,0,0.1050,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,42.757576,42.780356
Zambia,32,19,4,0.9360,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,36.242424,36.253467
Zimbabwe,64,18,4,1.4800,0.05,0.4,0.12,0.35,0.04,0.15,2005.0,2005.0,38.696970,38.717391

In [43]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5537 entries, 0 to 5536
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   country                        5537 non-null   object
 1   beer_servings                  5537 non-null   object
 2   spirit_servings                5537 non-null   object
 3   wine_servings                  5537 non-null   object
 4   total_litres_of_pure_alcohol   0 non-null      float64
 5   GhoCode                        5511 non-null   object
 6   GhoDisplay                     5511 non-null   object
 7   PublishStateCode               5511 non-null   object
 8   PublishStateDisplay            5511 non-null   object
 9   YearCode                       5511 non-null   float64
 10  YearDisplay                    5511 non-null   float64
 11  RegionCode                     5511 non-null   object
 12  RegionDisplay                  5511 non-null   object
 13  WorldBankIncomeGroupGroupCode  4509 non-null   object
 14  WorldBankIncomeGroupDisplay    4509 non-null   object
 15  CountryCode                    5511 non-null   object
 16  CountryDisplay                 5511 non-null   object
 17  SexCode                        5511 non-null   object
 18  SexDisplay                     5511 non-null   object
 19  DisplayValue                   5511 non-null   float64
 20  Numeric                        5511 non-null   float64
dtypes: float64(5), object(16)
memory usage: 951.7+ KB

In [44]:
df_combined.describe()

,total_litres_of_pure_alcohol,YearCode,YearDisplay,DisplayValue,Numeric
count,0.0,5511.000000,5511.000000,5511.000000,5511.000000
mean,NaN,2005.000000,2005.000000,48.233714,48.235222
std,NaN,8.863392,8.863392,23.833188,23.834190
min,NaN,1990.000000,1990.000000,11.000000,11.000000
25%,NaN,2000.000000,2000.000000,20.000000,20.188770
50%,NaN,2012.000000,2012.000000,57.000000,57.000000
75%,NaN,2013.000000,2013.000000,69.000000,69.000000
max,NaN,2013.000000,2013.000000,87.000000,87.154570

In [38]:
df_lifeexpect.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6408 entries, 0 to 6407
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   GhoCode                        6408 non-null   object
 1   GhoDisplay                     6408 non-null   object
 2   PublishStateCode               6408 non-null   object
 3   PublishStateDisplay            6408 non-null   object
 4   YearCode                       6408 non-null   int64
 5   YearDisplay                    6408 non-null   int64
 6   RegionCode                     6408 non-null   object
 7   RegionDisplay                  6408 non-null   object
 8   WorldBankIncomeGroupGroupCode  5244 non-null   object
 9   WorldBankIncomeGroupDisplay    5244 non-null   object
 10  CountryCode                    6408 non-null   object
 11  CountryDisplay                 6408 non-null   object
 12  SexCode                        6408 non-null   object
 13  SexDisplay                     6408 non-null   object
 14  DisplayValue                   6408 non-null   int64
 15  Numeric                        6408 non-null   float64
dtypes: float64(1), int64(3), object(12)
memory usage: 801.1+ KB

In [43]:
df_lifeexpect[df_lifeexpect['YearCode']=='NaN'].count()

GhoCode                          0
GhoDisplay                       0
PublishStateCode                 0
PublishStateDisplay              0
YearCode                         0
YearDisplay                      0
RegionCode                       0
RegionDisplay                    0
WorldBankIncomeGroupGroupCode    0
WorldBankIncomeGroupDisplay      0
CountryCode                      0
CountryDisplay                   0
SexCode                          0
SexDisplay                       0
DisplayValue                     0
Numeric                          0
dtype: int64